header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
}

header li {
  padding: 10px 20px 10px 20px;
  width: 70px;
  margin: 5px;
  border: 1pt solid gray;
  border-radius: 10px;
}

header a {
  text-decoration: none;
}

.home {
  padding: 10px 20px 10px 20px;
  width: 70px;
  margin: 5px;
}

header img {
  height: 35px;
  margin-right: 10px;
}
header button {
  width: fit-content;
  height: 20px;
  margin: 12px 15px 10px 10px;
}

.usernameText {
  margin: 14px 20px 0px 0px;
}
